* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.container {
    padding: 0 15%;
    width: 100%;
}

.main,
footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.hero {
    padding: 14% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.secondary,
nav a {
    margin-right: 26px;
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 10px;
}

.btn {
    background-color: #3992f6;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 30px;
    border-radius: 8px;
    color: #f9faf8;
}

.hero img {
    width: 340px;
    height: auto;
}

.info {
    padding: 40px 15%;
}

.info h1 {
    color: #1f2937;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 40px auto 60px;
}

.image-box {
    width: 170px;
    text-align: center;
    color: #1f2937;
    font-weight: 400;
}

.image-box img {
    width: 100%;
    border: 3px solid #3992f6;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.219);
    margin-bottom: 10px;
}

.qoute {
    background-color: #e5e7eb;
    color: #1f2931;
    padding: 8% 20%;
}

.main-qoute {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.qoute-by {
    text-align: right;
}

footer {
    padding: 24px;
    text-align: center;
    color: #e5e7eb;
}

.action {
    padding: 7% 15%;
    color: #f9faf8;
}

.action .inner {
    padding: 40px 8%;
    background-color: #3992f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action button {
    border: 2px solid #f9faf8;
}